/* -----------------------------
   INTRO OVERLAY (FULLSCREEN)
------------------------------ */
#intro-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(40, 30, 60, 0.35);
  backdrop-filter: blur(8px);

  z-index: 50;
  transition: opacity 0.35s ease;
}

#intro-overlay.intro-hidden {
  opacity: 0;
  pointer-events: none;
}

#intro-overlay button,
#intro-overlay a {
  pointer-events: auto;
}

/* -----------------------------
   INTRO PANEL
------------------------------ */
.intro-panel {
  max-width: min(90vw, 520px);
  padding: clamp(1.6rem, 4vw, 2.4rem);

  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(6px);

  border-radius: 1rem;

  font-family: "Inter", system-ui, sans-serif;
  color: #100470;

  text-align: center;
}

/* -----------------------------
   TYPOGRAPHY
------------------------------ */
.intro-panel h1 {
  margin: 0 0 0.6em 0;
  font-size: clamp(2rem, 6vw, 12.8rem);
  font-weight: 800;
}

.intro-subtitle {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.intro-instruction {
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0.85;
  margin-bottom: 1.6rem;
}

/* -----------------------------
   START BUTTON
------------------------------ */
#intro-start-btn {
  appearance: none;
  border: none;

  padding: 1em 14em;
  border-radius: 999px;

  font-size: 1rem;
  font-weight: 500;

  background: #100470;
  color: white;

  cursor: pointer;
}

#intro-start-btn:hover {
  opacity: 0.9;
}

/* -----------------------------
   CREDIT (BOTTOM RIGHT, OUTSIDE PANEL)
------------------------------ */

.intro-link {
  position: fixed;
  bottom: 2rem;
  right: 1.8rem;

  font-family: "Inter", system-ui, sans-serif;
  font-size: 0.65rem;
  letter-spacing: 0.08em;
  margin-bottom: 1rem;

  color: rgb(214, 190, 255);

  pointer-events: auto;
}

.intro-link:hover {
  text-decoration: underline;
  pointer-events: auto;
}

.intro-credit {
  position: fixed;
  bottom: 1.5rem;
  right: 1.8rem;

  font-family: "Inter", system-ui, sans-serif;
  font-size: 0.65rem;
  letter-spacing: 0.08em;

  color: rgba(255, 255, 255, 0.85);

  pointer-events: auto;
}
